<p *ngIf="response" class="alert alert-info" (click)="onReset()">
  Server response: {{ response.result }} (Click to dismiss)
</p>
<form method="POST" action="" class="form-horizontal"
      (submit)="onSubmit()"
      #userForm="ngForm"
      *ngIf="!(sending || response)">
  <h1 class="col-md-offset-2">
    <small>Sign in</small>
  </h1>
  <fieldset>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" name="email" id="email" class="form-control" placeholder="e.g. john.doe@example.com"
               [(ngModel)]="user.email"
               #email="ngModel"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
               required>
        <validation-control [currentErrors]="currentErrors" [field]="email"></validation-control>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" id="password" class="form-control"
               [(ngModel)]="user.password"
               #password="ngModel"
               minlength="6"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$"
               required>
        <validation-control [currentErrors]="currentErrors" [field]="password"></validation-control>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label for="remember">
            <input type="checkbox" name="remember" id="remember" [(ngModel)]="user.remember">
            Remember me
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-9 col-sm-3">
        <input type="submit"
               value="Sign in!"
               (click)="onSubmit(); userForm.reset()"
               [disabled]="!userForm.form.valid"
               class="btn btn-info btn-block">
      </div>
    </div>
  </fieldset>
</form>
<p *ngIf="sending">
  Please wait for server response...
</p>
